html {
    background-image: url(/img/brushed_alu_dark.png);
}

nav {
    background-image: url(/img/brushed_alu_dark.png);
    margin-top: 20px;
    padding-bottom: 20px;
}

.portfolio {
    background: white;
}

img {
    height: 200px;
    width: 200px;
}

#image3 {
    height: 250px;
    width: 350px;
}

#house1 {
    margin-top: 70px;
}

figure{
    margin: 10px;
    box-shadow: 10px 10px 10px;
}

figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
}


